<div class="form-container">
  <div
    class="game-container"
    *ngIf="!loading && !error"
    [ngClass]="{
      correcta: respuestaEstado === true,
      incorrecta: respuestaEstado === false
    }"
  >
    <h1>Preguntados!</h1>
    <h2>Vidas: {{ vidas }}</h2>
    <div class="consigna-container">
      <h2>¿De qué país es la siguiente bandera?:</h2>
      <div class="bandera-container">
        <img
          *ngIf="selectedPais"
          [src]="selectedPais.flags.png"
          [alt]="'Bandera de ' + selectedPais.name.common"
        />
      </div>
    </div>
    <div class="opciones-container">
      <div class="opciones-fila1">
        <div class="opcion1" (click)="verificarRespuesta(opciones[0])">
          {{ opciones[0] }}
        </div>
        <div class="opcion2" (click)="verificarRespuesta(opciones[1])">
          {{ opciones[1] }}
        </div>
      </div>
      <div class="opciones-fila2">
        <div class="opcion3" (click)="verificarRespuesta(opciones[2])">
          {{ opciones[2] }}
        </div>
        <div class="opcion4" (click)="verificarRespuesta(opciones[3])">
          {{ opciones[3] }}
        </div>
      </div>
    </div>
    <div class="buttons-container">
      <button mat-fab extended class="button-salir" (click)="salir()">
        Salir
      </button>
    </div>
  </div>
  <div *ngIf="loading">Cargando países...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
</div>
