.form-container {
  background-image: url("../../../assets/img/img-fondohome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
}

.game-container {
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 800px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.game-container.incorrecta {
  background-color: rgba(255, 0, 0, 0.3);
}

.game-container.correcta {
  background-color: rgba(0, 255, 26, 0.426);
}

.consigna-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: gray; */
  align-items: center;
  padding: 10px;
}

.bandera-container {
  /* background-color: black; */
  width: 460px;
  height: 270px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opciones-container {
  display: flex;
  width: 800px;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.opciones-fila1,
.opciones-fila2 {
  /* background-color: bisque; */
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.opcion1,
.opcion2,
.opcion3,
.opcion4 {
  background-color: burlywood;
  width: 280px;
  height: 55px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.button-salir {
  background-color: burlywood;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  margin: 20px auto;
  padding: 0 20px;
  border-radius: 5px;
}
