<div class="container-pag">
  <div class="container-titulo">Mensajeria!</div>
  <div class="container-chat">
    <div class="container-mensajes">
      <div
        *ngFor="let mensaje of mensajesCollection"
        [ngClass]="{
          mensaje: true,
          'mensaje-right': isCurrentUser(mensaje.user),
          'mensaje-left': !isCurrentUser(mensaje.user)
        }"
      >
        <div class="mensaje-datos">
          <span>{{ mensaje.user }}</span>
          <span>{{
            mensaje.fecha.seconds * 1000 | date : "dd-MM-yy HH:mm:ss"
          }}</span>
        </div>
        <div class="mensaje-contenido">
          <p>{{ mensaje.mensaje }}</p>
        </div>
      </div>
    </div>
    <div class="container-enviarMensaje">
      <input
        type="text"
        [(ngModel)]="mensaje"
        class="input-enviarMensaje input-texto"
        placeholder="Escribe tu mensaje..."
      />
      <div class="boton-enviar" (click)="EnviarMensaje()">
        <i class="fa-solid fa-paper-plane"></i>
      </div>
    </div>
  </div>
</div>
