.container-pag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/img/img-fondohome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.container-titulo {
  width: 600px;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 70px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: burlywood;
  text-shadow: 2px 2px 0 #000;
  letter-spacing: 5px;
  transform: skew(-10deg, 0);
}

.container-chat {
  width: 800px;
  height: 730px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  margin-bottom: 130px;
}

.container-mensajes {
  overflow: auto;
  flex-grow: 1;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mensaje {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
  max-width: 70%;
}

.mensaje-left {
  align-self: flex-start;
}

.mensaje-right {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.mensaje-datos {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  font-size: 0.8em;
}

.mensaje-contenido {
  word-wrap: break-word;
}

.mensaje-contenido p {
  margin: 5px 0;
}

.container-enviarMensaje {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid grey;
}

.boton-enviar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  cursor: pointer;
}

.input-enviarMensaje {
  flex-grow: 1;
  height: 35px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-texto {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
}

.fa-solid.fa-paper-plane {
  color: #4caf50;
}
