.form-container {
  background-image: url("../../../assets/img/img-fondohome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.game-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-bottom: 80px;
}

.game-container.error {
  background-color: rgba(255, 0, 0, 0.3);
}

.game-container.win {
  background-color: rgba(0, 255, 26, 0.3);
}

.opciones-container {
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.opcion-mayor,
.opcion-menor {
  background-color: burlywood;
  width: 280px;
  height: 55px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.carta-container {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-reiniciar {
  background-color: burlywood;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  margin: 20px auto;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
