.form-container {
  background-image: url("../../../assets/img/img-fondohome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.game-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.game-container.error {
  background-color: rgba(255, 0, 0, 0.3);
}

.game-container.win {
  background-color: rgba(0, 255, 26, 0.3);
}

.game-container.game-over {
  background-color: rgba(255, 0, 0, 0.5);
}

.game-container.game-win {
  background-color: rgba(0, 255, 26, 0.5);
}

.ahorcado-imagen {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.palabra-oculta {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-family: monospace;
  color: black;
}

.botones-letras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.botones-letras button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(122, 189, 122);
  transition: background-color 0.3s ease;
}

.botones-letras button:hover:not(:disabled) {
  background-color: rgb(92, 159, 92);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-reiniciar {
  background-color: burlywood;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  margin: 20px auto;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-reiniciar:hover {
  background-color: rgb(185, 135, 70);
}

.mensaje-ganador {
  color: green;
  font-weight: bold;
}

.mensaje-perdedor {
  color: red;
  font-weight: bold;
}
